[submodule "rec"]
	path = rec
	url = https://github.com/dr0nr/rec.git
	branch = arduino
[submodule "brn"]
	path = brn
	url = https://github.com/dr0nr/brn.git
	branch = arduino
[submodule "lib/dr0nr"]
	path = lib/dr0nr
	url = https://github.com/dr0nr/libdr0nr.git
	branch = arduino
[submodule "lib/com"]
	path = lib/com
	url = https://github.com/dr0nr/libcom.git
	branch = arduino
